
<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<div class="contenedor-titulos">
  <ion-title class="titulo-1">Skeleton App</ion-title>
  <ion-label class="subtitulo-1">Aqui comienza todo</ion-label>
  <ion-label class="subtitulo-2">Bienvenido!</ion-label>
</div>  

<form class="formulario-login" >
  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input type="password"> </ion-input>
  </ion-item>
  <ion-button expand="full">Ingresar</ion-button>
</form>

<div class="contenedor-link">
  <a href="" >Crea tu cuenta gratis</a>
</div>

</ion-content>
