.contenedor-titulos {
    text-align: center;
    margin-top: 15px;
}

.contenedor-titulos .titulo-1{
    font-size: 40px;
}

.contenedor-titulos .subtitulo-1 {
    display: block;
    font-size: 15px;
    margin-bottom: 50px;
}

.contenedor-titulos .subtitulo-2 {
    font-size: 20px;
}

.formulario-login {
    margin: 20px 20px 20px 20px;
}

.contenedor-link {
    display: flex;
    font: size 15px;   
    justify-content: center;
}


